name: snake
on:

  schedule:
    - cron: "0 */6 * * *"

  workflow_dispatch:

  push:
    branches:
      - master



jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:

      - name: generate github-contribution-grid-snake.svg
      - uses: Platane/snk@master
          with:

            github_user_name: Mindula-Dilthushan

            gif_out_path: bot/snake/github-snake.gif

            svg_out_path: bot/snake/github-snake.svg


      - name: push github-contribution-grid-snake.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v2.5.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}



